body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #212125;
}

.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 48px;
}

a {
  color: white;

}
